@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@layer components {
	.page {
		@apply w-full h-screen max-h-full pt-6 p-4 pb-20 flex flex-col;
	}

	.slide-in {
		@apply fixed top-0 left-0 w-full h-screen origin-bottom;
	}

	.slide-in {
		@apply fixed top-0 left-0 w-full h-screen origin-top;
	}

	.slider {
		appearance: none;
		-webkit-appearance: none;
		@apply w-full drop-shadow-lg bg-slate-100 h-1 outline-none rounded-full appearance-none;
	}
	
	.slider::-webkit-slider-thumb {
		-webkit-appearance: none;
		@apply drop-shadow-lg bg-slate-400 rounded-full w-2 aspect-square appearance-none;
	}
	
	.slider::-moz-range-thumb {
		@apply drop-shadow-lg bg-slate-400 rounded-full w-2 aspect-square;
	}
  
}
